body {
  font-family: "Montserrat", sans-serif;
  width: 325px;
  height: 600px;
  text-align: center;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #0000001a;
}

#header {
  padding-bottom: 5px;
}

#header img {
  padding: 20px;
}

.orLine {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 30px;
  margin-bottom: 35px;
}

.orLine > span {
  position: relative;
  display: inline-block;
  color: #adadad;
}

.orLine > span:before,
.orLine > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 80px;
  height: 1px;
  background: #0000001a;
}

.orLine > span:before {
  right: 100%;
  margin-right: 15px;
}

.orLine > span:after {
  left: 100%;
  margin-left: 15px;
}

.loginType input {
  width: 275px;
  padding: 10px 15px;
  margin: 7px;
  border: none;
  border: 1px solid lightgray;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.bigButton,
.trackedListButton,
.redButton {
  width: 300px;
  text-transform: uppercase;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.trackedListButton {
  background-color: orange;
}

.bigButton:hover {
  background-color: #3e8f41;
}

.trackedListButton:hover {
  background-color: #dd9000;
}

.redButton {
  background-color: #eb0000;
  transition: 0.3s;
}

.redButton:hover {
  background-color: #c40000;
}

.customIcon {
  position: absolute;
  cursor: pointer;
  color: lightgray;
  background-color: white;
  border: none;
  outline: none;
  transition: 0.3s;
}

.customIcon:hover {
  color: #b4b4b4;
}

.itemPic {
  object-fit: contain;
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100px;
}

span p {
  margin: 0px;
}

.footer {
  width: 100%;
}

.footer button {
  width: 100%;
  background-color: #ffffff;
  border: none;
  color: #9b9b9b;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  outline: none;
  transition: 0.3s;
}

.footer button:hover {
  color: #707070;
}

.footerItemContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 30px;
  margin-bottom: 10px;
}

.closeButton {
  position: absolute;
  right: 10px;
  border: none;
  padding: 3px 10px;
  border-radius: 50px;
  background-color: #d8d8d8;
  color: rgb(114, 114, 114);
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.closeButton:hover {
  background-color: #c40000;
  color: white;
}
