body {
  font-family: "Montserrat", sans-serif;
  width: 325px;
  text-align: center;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#header {
  padding-bottom: 70px;
}

.title {
  top: 120px;
  left: 0;
  right: 0;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.titleMain {
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  padding: 9px 42px;
}

.loginType input {
  width: 275px;
  padding: 10px 15px;
  margin: 7px;
  border: none;
  border: 1px solid lightgray;
}

.bigButton,
.trackedListButton {
  width: 300px;
  margin: 15px 0px;
  text-transform: uppercase;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.trackedListButton {
  background-color: orange;
  margin: 0px;
}

.bigButton:hover {
  background-color: #3e8f41;
}

.trackedListButton:hover {
  background-color: #dd9000;
}

.graph {
  width: 300px;
  height: 215px;
  object-fit: contain;
  cursor: pointer;
}

.customIcon {
  position: absolute;
  cursor: pointer;
  color: lightgray;
  background-color: white;
  border: none;
  outline: none;
}

.customIcon:hover {
  color: #b4b4b4;
}

.bottomText {
  margin-top: 90px;
  margin-bottom: 20px;
}

.itemPic {
  object-fit: contain;
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100px;
}

span p {
  margin: 0px;
}

.footer {
  width: 100%;
}

.footer button {
  width: 100%;
  background-color: #ffffff;
  border: none;
  color: #9b9b9b;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  outline: none;
}

.footer button:hover {
  color: #707070;
}

.footerItemContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 30px;
}
